head
  title image discussion
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')  
  link(rel='shortcut icon' href='/favicon.ico')
  
template(name='layout')
  header.z-depth-2
    .left 
      span Chris Wilmer's Diagram Assignment
      if adminPage
        input.search-input(placeholder='Search..')
        unless deadlinePassed
          input#activate-deadline.waves-effect.waves-light.btn.red.darken-1(type='button' value='Activate Deadline')  
        else
          span.yellow-text Deadline passed!     

    if currentUser
      .right Logged in as: #{username} |
        a.logout Logout
  main
    +yield