@import 'jeet'

*, *:before, *:after
  box-sizing border-box
  
body
  font-family 'Roboto', sans-serif

body,
html 
  height 100%  

a
  cursor pointer
  
h1
  font-size 3em
  font-weight 200
  
h2
  font-size 2em
  font-weight 200  
  
// Variables & Placeholders

primary = #26a69a
contrary = #FFF089

$sidePad
  padding 0 20px
  
// Positioning

.clear:after
  content ''
  display block
  clear both

.left
  float left
  
.right
  float right

pos(x, y)
  position absolute
  left (x)%
  top (y)%
  transform translate(-(x)%, -(y)%)

true-height(n)
  height n
  line-height n
  
.center
  text-align center  

//////

header
  @extend $sidePad  
  true-height(75px)
  margin-bottom 20px
  background-color primary
  color white
  a
    color contrary
  
  .left * + *
    margin-left 20px
  
main
  @extend $sidePad
  
/////

.search-input
  outline none
  border none
  border-radius 5px
  padding 5px 10px  
  color black
  
#login-form
  width 100%
  max-width 300px
  pos(50, 30)
  @extend .center
  
#upload-form
  @extend .center
  label
    z-index -1   
  
// upload

#details-form
  width 600px
  margin 0 auto
  margin-top 40px
  @extend .center  
  img
    display block
    margin 0 auto
    max-width 600px  
    margin-bottom 20px
    

// gallery

.details,
.gallery
  text-align center
  
.details
  img
    max-width 400px
    
.mini-star
  font-size 0.5em
  
.image-wrapper
  position relative
  display inline-block
  margin-right 20px
  
.image-wrapper
  .title
    margin-top 10px

.image
  cursor pointer
  size 150px
  display inline-block
  background-size cover
  opacity 1
  transform scale(1)
  transition all 0.4s ease

.image:hover
  opacity 0.85
  transform scale(0.85)
  

  