template(name='upload')
  +uploadTemplate

template(name='uploadOne')
  form#upload-form
    h1 Please upload your diagram.
    .file
      input(type='file' name='imageFile')
      label.waves-effect.waves-light.btn(for='file') Upload
  img(src='#{dataUrl}')

template(name='uploadTwo')
  form#details-form
    img(src='#{dataUrl}')
    input#back.waves-effect.waves-light.btn.red.darken-1(type='button' value='Back')        
    input.waves-effect.waves-light.btn(type='submit' value='Save')
