template(name='admin')
  .admin
    +userTable

template(name='userTable')
  table.user-table.table
    thead
      tr
        th Username
        th Password
        th Group
        th # of Ratings
        th Average Rating
        th Dot Product
    tbody
      +each users
        tr
          td #{username}
          td {{userPassword username}}
          td #{profile.group} 
          if uploaded username
            td {{ratings username}}
            td #{average}
            td #{dotProduct}
          else
            td Not submitted yet
                     
