template(name='admin')
  .admin
    +userTable

template(name='userTable')
  table.user-table.table
    thead
      tr
        th Username
        th Password
        th Group
        th Ratings
        th Average
    tbody
      +each users
        tr
          td #{username}
          td {{userPassword username}}
          td #{group} 
          if uploaded username
            td #{ratings}
            td #{average}
          else
            td Not submitted yet
                     
