template(name='gallery')
  .gallery
    h1 Please rate these diagrams
    +each images
      .image-wrapper
        a(href='{{pathFor "imageDetails"}}')
          .image(style='background-image:url("#{dataUrl}")')
        .title #{title}
        //- .mini-star  
        //-   +starRating
